/* General page formatting */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #181D31;
}

p {
  color: #181D31;
  line-height: 2rem;
}

div {}

h1 {}

h2 {}

h3 {
  /* padding-top: 50px; */
}

/* Menu  */
.nav-bar {
  background-color: #181D31;
  color: #F0E9D2;
  width: 100%;
  position: fixed;
  /* overflow: hidden; */
  padding-right: 2%;
  top: 0;
}

.brand {
  color: #F0E9D2;
  display: block;
  position: fixed;
  font-family: 'Pushster', cursive;
  font-size: 3rem;
  /* margin: 0; */
  padding: 5px 30px;
  z-index: 5;
}

.nav-bar a {
  display: block;
  padding: 20px 30px; /*1% 3%*/
  font-size: 1.5rem;
  color: #F0E9D2;
  text-decoration: none;
  text-align: center;
  float: right;
  width: 100px;
}

.nav-bar a:hover {
  color: #181D31;
  background-color: #F0E9D2;
}

/* Sections */
.main {
  padding-top: 75px;
  background-color: #E6DDC4;
}

.title {
  padding: 0% 5%;
}

.main-title {}

.sub-title {}

.section {
  padding: 2% 5%;
  color: #181D31;
}

/* Section one */
.section-one {
  background-color: #E6DDC4;
}

.test-box {
  display: flex;
  padding-bottom: 50px;
}

.text-left {
  display: flex;
  width: 60%;
  margin: 0;
}

.image-right {
  display: flex;
  /* float: center; */
  max-width: 30%;
  /* max-height: 100%; */
  /* width: auto;
  height: auto; */
  padding-left: 50px;
  margin: auto;
}

.text-right {
  display: flex;
  width: 60%;
  margin: 0;
}

.image-left {
  display: flex;
  /* float: left; */
  max-width: 30%;
  padding-right: 50px;
  margin: auto;
}

/* Section two */
.section-two {
  background-color: #F0E9D2;
}

/* Section three */
.section-three {
  background-color: #E6DDC4;
}

/* Footer */
.footer {
  background-color: #678983;
  text-align: center;
  color: #F0E9D2;
}

@media screen and (max-width: 900px) {
  .brand {
    color: #F0E9D2;
    display: inline-block;
    position: fixed;
    font-family: 'Pushster', cursive;
    font-size: 3rem;
    /* margin: 0; */
    padding: 5px 30px;
    z-index: 5;
  }

  .nav-bar a {
    display: inline-block;
    padding: 20px 30px; /*1% 3%*/
    font-size: 1.5rem;
    color: #F0E9D2;
    text-decoration: none;
    text-align: center;
    float: right;
    width: 100px;
    margin-top: 75px;
  }

  .main {
    padding-top: 150px;
    background-color: #E6DDC4;
  }
}

@media screen and (max-width: 600px) {
  .test-box {
    display: block;
  }

  .text-left {
    /* padding-bottom: 50px; */
    display: block;
    width: 100%;
  }

  .image-right {
    display: block;
    /* max-width: 30%; */
    max-width: 80%;
    /* max-height: 50%; */
    margin: auto;
    padding: 20px 0;
  }

  .text-right {
    display: block;
    width: 100%;
  }

  .image-left {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 20px 0;
  }
}
